* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Raleway", sans-serif;
}

html {
	scroll-behavior: smooth;
}

.center {
	display: flex;
	flex-wrap: wrap;
	max-width: 1100px;
	padding: 0 2%;
	margin: 0 auto;
}

section.main {
	background-image: url("./assets/background.svg");
	background-position: center;
	background-size: cover;
	min-height: 700px;
	padding: 20px 0 80px 0;
}

.menu {
	display: flex;
	width: 100%;
}

.logo-menu {
	width: 50%;
}

.logo-menu img {
	max-width: 100%;
}

.items-menu {
	width: 50%;
	display: inline-block;
	align-self: center;
}

.items-menu a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	margin: 0 10px;
}

.items-menu a:hover:nth-child(-n + 3) {
	border-bottom: #ffdd33 2px solid;
}

.items-menu a.contact-btn {
	background-color: #0f3fd3;
	padding: 15px;
	border-radius: 10px;
}

.mockup {
	display: block;
	text-align: center;
	width: 100%;
	color: #fff;
	padding: 100px 0 0 0;
}

.mockup h1 {
	font-size: 50px;
}

.mockup img {
	max-width: 100%;
}

section.sponsors {
	padding: 100px 0;
}

section.sponsors img {
	width: calc(100% / 5);
	object-fit: cover;
}

section.self-promotion {
	padding: 40px 0;
	background-color: #fbfcfe;
}

section.self-promotion > .center {
	max-width: 1280px;
}

section.self-promotion > .center > h2 {
	width: 100%;
	text-align: center;
	font-size: 64px;
}

section.self-promotion > .center > p {
	width: 100%;
	text-align: center;
	color: #7e92ac;
	font-size: 14px;
}

.differential {
	display: flex;
	margin-top: 50px;
}

.box-differential {
	box-shadow: 0px 20px 40px #2426721c;
	width: 31%;
	margin-left: 2%;
	padding: 10px 20px;
	border-radius: 10px;
}

.box-differential h3 {
	font-size: 28px;
	color: black;
	margin: 20px 0;
}

.box-differential p {
	font-size: 13px;
	color: #7e92ac;
	margin-bottom: 20px;
}

section.cta {
	background-image: url(./assets/banner.svg);
	background-size: cover;
	background-position: center;
	min-height: 200px;
	color: #fff;
	padding: 20px 10px;
	text-align: center;
}

section.cta h2,
section.cta h4 {
	font-weight: normal;
	margin: 10px 0;
}

section.cta h2 {
	font-size: 40px;
}

section.cta a {
	display: inline-block;
	padding: 15px 25px;
	border-radius: 10px;
	font-weight: bold;
	font-size: 17px;
	background-color: #ffdd33;
	text-decoration: none;
	color: #0f3fd3;
}

.benefits {
	margin-top: 50px;
	margin-bottom: 50px;
}

.benefits-list {
	width: 50%;
	display: inline-block;
	align-self: center;
}

.benefits-list h1 {
	font-size: 40px;
	margin-left: 18px;
}

.benefits-list p {
	display: flex;
	align-items: center;
	font-size: 80%;
	color: #7e92ac;
	width: 80%;
}

.benefits-list p img {
	width: 15%;
}

.benefits img {
	width: 50%;
	max-width: 100%;
}

.benefits a {
	display: inline-block;
	margin: 5px 0 0 18px;
	padding: 15px 25px;
	border-radius: 10px;
	font-weight: bold;
	font-size: 17px;
	background-color: #0f3fd3;
	text-decoration: none;
	color: #fff;
}

.benefits a:hover {
	cursor: pointer;
	background-color: #0f3bc0;
	color: rgb(238, 234, 234);
}

section.reports {
	background-color: #fbfcfe;
	padding: 40px 0;
}

section.reports h1 {
	text-align: center;
	font-size: 50px;
}

.container-slider {
	overflow: hidden;
	padding: 40px 0;
}

.container-slider-single {
	float: left;
	background-color: #fff;
	text-align: center;
	padding: 10px;
	border-radius: 10px;
}

.container-slider-single p {
	margin: 15px 0;
	font-size: 14px;
}

.slick-slide {
	margin-left: 27px;
}

.slick-list {
	margin-left: -27px;
}

.slick-dotted ul {
	display: block;
	list-style-type: none;
	text-align: center;
	position: relative;
	top: 30px;
}

.slick-dotted li {
	display: inline-block;
	margin: 0 7px;
}

.slick-dotted button:focus {
	outline: 0;
}

.slick-dotted li button {
	width: 16px;
	height: 16px;
	border-radius: 8px;
	border-width: 0;
	background: #d2d8eb;
	color: #d2d8eb;
	opacity: 1;
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
}

li.slick-active button {
	background: #255aff;
	user-select: none;
	-moz-user-select: none;
	color: #255aff;
}

.slick-slide:focus,
input:focus,
textarea:focus {
	outline: none;
}

section.contact {
	padding: 40px 0;
	text-align: center;
}

section.contact h1 {
	font-size: 50px;
}

.contact form {
	width: 100%;
}

.contact input[type="text"],
.contact input[type="email"] {
	width: 100%;
	height: 45px;
	background: #fcfdff;
	border: 1px solid #c3cce8;
	margin: 20px 0;
	border-radius: 10px;
	padding-left: 10px;
}

.contact textarea {
	width: 100%;
	height: 120px;
	background: #fcfdff;
	border: 1px solid #c3cce8;
	margin: 20px 0;
	border-radius: 10px;
	padding: 10px;
	resize: vertical;
}

.contact input[type="submit"] {
	width: 100%;
	height: 40px;
	border-radius: 10px;
	font-size: 18px;
	display: block;
	cursor: pointer;
	border: 0;
	background: #255aff;
	color: #fff;
}

footer {
	background-color: #255aff;
	color: #fff;
	width: 100%;
	height: 50px;
	text-align: center;
	padding-top: 10px;
}

footer p {
	font-family: "Raleway", sans-serif;
}

footer a {
	text-decoration: none;
	font-weight: bold;
	color: #d64166;
}

.items-menu-mobile {
	display: none;
	width: 50%;
	text-align: right;
}

.items-menu-mobile i {
	color: #fff;
	font-size: 23px;
	cursor: pointer;
}

@media screen and (max-width: 768px) {
	body.active,
	html.active {
		overflow: hidden;
	}

	.items-menu-mobile {
		display: block;
	}

	section.main .items-menu {
		width: 100vw;
		height: 100vh;
		position: absolute;
		right: 0;
		top: 8vh;
		background: #fbfcfe;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		transition: 0.5s;
		opacity: 0;
	}

	section.main .items-menu a:nth-child(-n + 3) {
		color: #0f3fd3;
		width: 25%;
		padding-bottom: 2px;
		text-align: center;
		border-bottom: solid 1px #7e92ac;
	}

	section.main .items-menu.active {
		height: 100vh;
		top: 0;
		opacity: 1;
	}

	.items-menu-mobile.active i {
		color: #255aff;
		position: sticky;
	}

	.differential {
		flex-wrap: wrap;
	}

	.box-differential {
		width: 100%;
		margin-right: 0;
	}

	section.sponsors {
		padding-top: 0;
		text-align: center;
	}

	section.sponsors > .center {
		flex-direction: column;
		align-items: center;
	}
	section.sponsors img {
		width: 100%;
		max-width: 100%;
		max-width: 250px;
	}
	.benefits-list,
	.benefits-list p,
	.benefits img {
		width: 100%;
		font-size: 100%;
	}
	.benefits .center {
		flex-direction: column-reverse;
	}
}
