* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Raleway", sans-serif;
}

.center {
	display: flex;
	flex-wrap: wrap;
	max-width: 1100px;
	padding: 0 2%;
	margin: 0 auto;
}

section.main {
	background-image: url("./assets/background.svg");
	background-position: center;
	background-size: cover;
	min-height: 700px;
	padding: 20px 0 80px 0;
}

.menu {
	display: flex;
	width: 100%;
}

.logo-menu {
	width: 50%;
}

.logo-menu img {
	max-width: 100%;
}

.items-menu {
	width: 50%;
	display: inline-block;
	align-self: center;
}

.items-menu a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	margin: 0 10px;
}

.items-menu a:hover:nth-child(-n + 3) {
	border-bottom: #ffdd33 2px solid;
}

.items-menu a.contact-btn {
	background-color: #0f3fd3;
	padding: 15px;
	border-radius: 10px;
}

.mockup {
	display: block;
	text-align: center;
	width: 100%;
	color: #fff;
	padding: 100px 0 0 0;
}

.mockup h1 {
	font-size: 50px;
}

.mockup img {
	max-width: 100%;
}

section.sponsors {
	padding: 100px 0;
}

section.sponsors img {
	width: calc(100% / 5);
	object-fit: cover;
}

section.self-promotion {
	padding: 40px 0;
	background-color: #fbfcfe;
}

section.self-promotion > .center {
	max-width: 1280px;
}

section.self-promotion > .center > h2 {
	width: 100%;
	text-align: center;
	font-size: 64px;
}

section.self-promotion > .center > p {
	width: 100%;
	text-align: center;
	color: #7e92ac;
	font-size: 14px;
}

.differential {
	display: flex;
	margin-top: 50px;
}

.box-differential {
	box-shadow: 0px 20px 40px #2426721c;
	width: 31%;
	margin-left: 2%;
	padding: 10px 20px;
	border-radius: 10px;
}

.box-differential h3 {
	font-size: 28px;
	color: black;
	margin: 20px 0;
}

.box-differential p {
	font-size: 13px;
	color: #7e92ac;
	margin-bottom: 20px;
}

section.cta {
	background-image: url(./assets/banner.svg);
	background-size: cover;
	background-position: center;
	min-height: 200px;
	color: #fff;
	padding: 20px 10px;
	text-align: center;
}

section.cta h2,
section.cta h4 {
	font-weight: normal;
	margin: 10px 0;
}

section.cta h2 {
	font-size: 40px;
}

section.cta a {
	display: inline-block;
	padding: 15px 25px;
	border-radius: 10px;
	font-weight: bold;
	font-size: 17px;
	background-color: #ffdd33;
	text-decoration: none;
	color: #0f3fd3;
}

section.benefits {
	margin-top: 30px;
	padding: 50px 0;
}

.benefits-list {
	width: 40%;
}

.benefits-list h1 {
	color: black;
	font-size: 40px;
}

.benefits-list p {
	color: #7e92ac;
	vertical-align: middle;
	font-size: 14px;
}

.benefits-list span {
	display: inline-block;
	width: calc(100% - 70px);
}

.benefits-list img {
	display: inline-block;
	vertical-align: middle;
	width: 70px;
}

.img-benefits {
	width: 60%;
}

.img-benefits img {
	max-width: 100%;
}

.benefits-list a {
	padding: 15px 25px;
	margin-left: 17px;
	border-radius: 10px;
	font-weight: bold;
	font-size: 17px;
	background-color: #0f3fd3;
	text-decoration: none;
	color: #fff;
}

@media screen and (max-width: 768px) {
	.differential {
		flex-wrap: wrap;
	}

	.box-differential {
		width: 100%;
		margin-right: 0;
	}

	section.sponsors {
		padding-top: 0;
		text-align: center;
	}

	section.sponsors > .center {
		flex-direction: column;
		align-items: center;
	}
	section.sponsors img {
		width: 100%;
		max-width: 100%;
		max-width: 250px;
	}
	.benefits-list,
	.img-benefits {
		width: 100%;
		margin-bottom: 30px;
	}
}
